
body {
    background-color: blue;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

#inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.entry {
    width: 350px;
    height: 120px;
}

#btnBox {
    text-align: center;

}

#officerField {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#officerField input {
    width: 300px;
    padding: 8px;
}

#postLocation {
    width: 300px;
    padding: 8px;
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
    margin: 0;
}

select {
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 150px;
}

#btnBox {
    text-align: center;
    margin-top: 20px;
    gap: 10px;
}