
body {
    background-color: blue;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

#inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.entry {
    width: 350;
    height: 120;
}

#btnBox {
    text-align: center;

}